<form is="vform" v-ref:myform>
    <div class="form-group">
      <label for="age">下拉框</label>
      <combo v-ref:city name="city" url="./data/city.json" style="width:150px"></combo>
    </div>
  <div class="form-group">
    <label for="age">年龄</label>
    <input type="text" class="form-control" name="age" id="age" placeholder="年龄" v-model="form.age">
  </div>
  <div class="form-group">
    <label for="name">姓名</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="姓名" v-model="form.name">
  </div>
  <!-- <div class="form-group">
      <label for="city">城市</label>
      <select name="city" v-model="city" class="form-control">
          <option v-for="option in cities" v-bind:value="option.id">
            {{ option.name }}
          </option>
      </select>
  </div> -->
  <button type="button" class="btn btn-default" v-on:click="submit">提交</button>
</form>
