<div style="width: 200px">
    <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitComboBox dijitValidationTextBox" id="widget_contact_info_select_products___direct_trial" role="combobox" aria-haspopup="true" data-dojo-attach-point="_popupStateNode" widgetid="contact_info_select_products___direct_trial" popupactive="true" aria-expanded="false" aria-owns="contact_info_select_products___direct_trial_popup">
        <div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation">
            <input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="button presentation" aria-hidden="true">
        </div>
        <div class="dijitReset dijitValidationContainer">
            <input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation">
        </div>
        <div class="dijitReset dijitInputField dijitInputContainer">
            <input class="dijitReset dijitInputInner" type="text" autocomplete="off" data-dojo-attach-point="textbox,focusNode" role="textbox" aria-autocomplete="both" title="信优贷19" tabindex="0" id="contact_info_select_products___direct_trial" aria-required="true" value="请选择" aria-invalid="false">
            <input type="hidden" value="0000">
        </div>
    </div>
    <div class="dijitPopup dijitComboBoxMenuPopup" role="region" aria-label="contact_info_select_products___direct_trial_popup" style="visibility: visible; top: 274px; left: 449.141px; right: auto; z-index: 1000; height: auto; overflow: visible;" id="widget_contact_info_select_products___direct_trial_dropdown" dijitpopupparent="contact_info_select_products___direct_trial">
        <div class="dijitReset dijitMenu dijitComboBoxMenu" data-dojo-attach-point="containerNode" style="overflow-y: auto; overflow-x: hidden; top: 0px; visibility: visible; width: 150px;" role="listbox" id="contact_info_select_products___direct_trial_popup" widgetid="contact_info_select_products___direct_trial_popup" aria-labelledby="contact_info_select_products___direct_trial">
            <div class="dijitMenuItem dijitMenuPreviousButton" data-dojo-attach-point="previousButton" role="option" id="contact_info_select_products___direct_trial_popup_prev" style="display: none;">先前选项</div>
            <div class="dijitReset dijitMenuItem" role="option" item="0" id="contact_info_select_products___direct_trial_popup0">&nbsp;</div>
            <div class="dijitReset dijitMenuItem dijitMenuItemSelected" role="option" item="1" id="contact_info_select_products___direct_trial_popup1">信优贷19</div>
            <div class="dijitReset dijitMenuItem" role="option" item="2" id="contact_info_select_products___direct_trial_popup2">信薪贷23</div>
            <div class="dijitReset dijitMenuItem" role="option" item="3" id="contact_info_select_products___direct_trial_popup3">信薪贷25</div>
            <div class="dijitReset dijitMenuItem" role="option" item="4" id="contact_info_select_products___direct_trial_popup4">信优贷21</div>
            <div class="dijitReset dijitMenuItem" role="option" item="5" id="contact_info_select_products___direct_trial_popup5">信优贷23</div>
            <div class="dijitReset dijitMenuItem" role="option" item="6" id="contact_info_select_products___direct_trial_popup6">信薪佳人贷21</div>
            <div class="dijitReset dijitMenuItem" role="option" item="7" id="contact_info_select_products___direct_trial_popup7">信薪佳人贷25</div>
            <div class="dijitReset dijitMenuItem" role="option" item="8" id="contact_info_select_products___direct_trial_popup8">信薪贷27</div>
            <div class="dijitReset dijitMenuItem" role="option" item="9" id="contact_info_select_products___direct_trial_popup9">信优贷17_A16</div>
            <div class="dijitReset dijitMenuItem" role="option" item="10" id="contact_info_select_products___direct_trial_popup10">薪期贷13</div>
            <div class="dijitReset dijitMenuItem" role="option" item="11" id="contact_info_select_products___direct_trial_popup11">薪期贷15</div>
            <div class="dijitReset dijitMenuItem" role="option" item="12" id="contact_info_select_products___direct_trial_popup12">薪期贷17</div>
            <div class="dijitReset dijitMenuItem" role="option" item="13" id="contact_info_select_products___direct_trial_popup13">薪期贷07</div>
            <div class="dijitReset dijitMenuItem" role="option" item="14" id="contact_info_select_products___direct_trial_popup14">薪期贷10</div>
            <div class="dijitMenuItem dijitMenuNextButton" data-dojo-attach-point="nextButton" role="option" id="contact_info_select_products___direct_trial_popup_next" style="display: none;">更多选项</div>
        </div>
    </div>
</div>

<style media="screen">
    .dijitValidationContainer {
        display:none
    }
    .dijitArrowButtonInner {
        border: 1px solid #ffffff;
        padding: 1px 2px;
        background-image: url("./images/commonFormArrows.png");
        background-position: -35px 53%;
        background-repeat: no-repeat;
        margin: 0;
        width: 16px;
        text-indent: -2em !important;
        direction: ltr !important;
        text-align: left !important;
        height: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: left;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        font: inherit;
        line-height: normal;
        color: inherit;
        /*background: no-repeat center;*/
    }

    div.dijitArrowButton {
        float: right;
    }
    .dijitComboBox .dijitButtonNode {
        background-color: #efefef;
    }
    .dijitTextBox {
        border: solid black 1px;
        width: 15em;
        vertical-align: middle;
    }
    .dijitTextBox {
        border-color: #b5bcc7;
        transition-property: background-color, border;
        transition-duration: 0.35s;
        border-radius: 3px;
        padding: 3px 0 !important;
    }
    .dijitInputInner {
        padding: 1px 0;
        border: 0 !important;
        background-color: transparent !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .dijitButtonNode {
        /* border: 1px solid gray; */
        border: 1px solid gray;
        margin: 0;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
    }
    .dijitArrowButtonContainer {
        border-width: 0 0 0 1px !important;
    }
</style>
